*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(112, 32, 32);
}


/* Generic Effect classes */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: blue;
    text-decoration: underline;
    margin-right: 5px;
    margin-left: 5px;
}
.link:hover{
    color: red;
}
/* Starting Me Flash */
.MainImg{
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 550px;
}
#pre-section{
    margin: 0;
}
.mainHeading {
    width: 90%;
    font-size: 3vw;
    font-weight: 900;
    color: #fff;
    background-color: limegreen;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin: 2rem 5% 5rem 5%;
    padding: 3%;
    text-shadow: 0.3rem 0.3rem 0.4rem #666;
    text-align: center;
    transform: skew(-15deg);
    }
#name{
    text-align: center;
    margin: 0 0 5rem 0;
    color: red;
    height: 100px;
    font-size: calc(42px + 2vw);
    position: relative;
    animation: changeColor 5s infinite;
}
@keyframes changeColor {
    0%   {color: green;}
    10%  {color: lime;}
    25%  {color: brown;}
    35% {color: darkred;}
    45% {color: red}
    55%   {color: rebeccapurple;}
    60%  {color: purple;}
    70%  {color: blueviolet;}
    80%  {color: blue;}
    90% {color: navy;}
    95% {color: darkgreen}
    100%   {color: green;}
}
.summary{
    font-style: italic;
    color: white;
    opacity: .6;
    font-size: 2.5vw;
    text-align: center;
    margin: 0 0 7rem 0;
}



/* NavBar */
nav{
    padding: 20px 0;
    margin: 0 0 15%;
    background-color: lime;
}
nav ul {
    background: linear-gradient(90deg, 
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.3) 5%,
    rgba(255, 255, 255, 0.5) 35%,
    rgba(255, 255, 255, 0.5) 65%,
    rgba(255, 255, 255, 0.3) 95%,
    rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 10px 10px 25px 0px rgba(255, 255, 255, 0), 
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    padding: 1% 0;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: black;
    width: 120%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5vw;
    display: block;
    padding: 1% 5%;
}
nav ul li a:hover{
    background-color: rgba(9, 138, 32, 0.3);
    color: red;
}

/* Section Generals */

section{
    padding: 5% 5%;
    margin: 0 0 4rem;
}
.sectionTitle{
    font-size: 8vw;
    text-decoration: underline;
    margin-bottom: 15%;
    text-align: center;
    font-family:  Geneva, Verdana, sans-serif;
}


/* Section 1: Skills */

.details{
    font-size: 4vw;
    overflow: wrap;
}
.det2{
    padding-left: 8%;
}
div#skills div



/* Section 2: Projects */
#horoscopesCarousel, #greenExchangeCarousel, #adventureConnectCarousel{
    width: 90%;
    margin: 0 5%;
}
div.carousel+h3{
    margin-top: 4rem;
}


/* Footer */

#footer{ 
    width: 100%;
    height: 30vh;
    padding: 5% 0;
    background-color: limegreen;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.profLinks{
    width: 100%;
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}
footer div a{
    width: 20%;
    text-align: center;
}
footer div a img{
    width: 50%;
    max-width: 100px;
    margin: 0 3% 1% 0%;
}
footer p{
    font-size: 3.5vw;
}

